@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  transition: background 0.3s ease, color 0.3s ease;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: white;
  color: black;
}

/* Dark mode styles */
.dark body {
  background-color: #1a202c; /* Example dark background */
  color: white;
}

.bg-gray-300 {
  background-color: #e0e0e0;
}

.dark .bg-gray-300 {
  background-color: #4a5568; /* Example dark gray */
}

.dark button{
  background: gray;
}

.text-black {
  color: black;
}

.dark .text-black {
  color: white;
}
